@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Raleway:wght@100;500;600;800&display=swap');

body {
    background-color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.header {
    height: 400px;
    background-image: url("/Images/coffee-bgnd.jpeg");
    background-position: center;
    background-size: cover ;
    /*background-repeat: no-repeat;*/
    /*border-top: 1px solid transparent;*/
    /*padding-top: 1px;*/
    /*padding-top: 143px;*/
    /*box-sizing: border-box;*/
}

h1 {
    font-size: 100px;
    text-align: center;
    padding-top: 143px;
    /*margin-top: 142px;*/
    font-family: 'Covered By Your Grace', cursive;
    color: rgba(3, 150, 100, 0.75);
}

.left {
    position: absolute;
    left: 30px;
    width: 45%;

}

.right {
    position: absolute;
    right: 30px;
    width: 45%;
}

.main {
    width: 100%;
}


.main h2 {
    font-weight: 600;
    font-size: 28px;
    background-color: #aa8eb5;
    text-align: center;
    text-transform: uppercase;
}

.main  p {
    color: #454;
    font-weight: 500;
    padding: 0 5px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5;
    height: 70px;
    overflow-y: auto;

}

.main  a:link {
    color: #214e34;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}

.main a:visited {
    color: violet;
}

.main a:hover {
    color: red;
}

.main a:active {
    color: yellow;
}

